<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">
  <test thread-count="5" name="Test">
    <classes>
   	 <class name="dockerrun.Setupdockergrid"/>
      <class name="dockerrun.Firefoxtest"/>
      <class name="dockerrun.Chrometest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
